@import "../global"
@import "../reset"
@import "../common"

body
  @import "../sections/header"
  > .content
    section.about
      padding-top 30px
      line-height 25px

      .title
        font-size 30px
        font-weight 900
        color color-text-title
      p
        font-size 20px
        margin 20px 0
      a
        color color-brand