@import "../global"
@import "../reset"
@import "../common"

body
  @import "../sections/header"
  > .content
    > .day
      padding-top 20px

      > .date-area
        display: inline-block
        padding-bottom 20px

        > .day-name, > .date
          display inline-block
        > .day-name
          font-size 24px
          margin-right 10px
          margin-left 10px
          text-transform uppercase
          color color-text-title
        > .date
          font-size 16px
          font-weight 400
          color color-text-light
      > .posts
        > .post
          overflow hidden
          padding 10px
          border-radius 3px
          margin-top 5px
          margin-bottom 5px
          cursor pointer

          transition background-color transition-duration
          &:hover
            background-color rgba(75, 96, 169, 0.3)

          .description
            line-height 22px
            .title
              margin-top 2px
              white-space nowrap
              color color-text-title
              font-size 20px
              font-weight 700

              &:hover
                text-decoration underline
            .tagline
              white-space nowrap
              color color-text-default
              font-size 18px
              font-weight 500

          .downvote
            float left
            width 34px
            height 48px
            border-radius 3px
            margin-right 10px
            padding-bottom 4px
            background-color color-button
            cursor pointer
            border-bottom 2px solid color-button-highlight

            &:hover
              .arrow
                border-top 12px solid color-brand                

            &.voted
              .arrow
                border-top 12px solid color-brand
              .vote-count
                color color-brand

            .arrow
              position relative
              top 5px
              display inline-block
              width 0px
              height 0px
              border-bottom 12px solid transparent
              border-left 8px solid transparent
              border-right 8px solid transparent
              border-top 12px solid color-text-title
              
              transition border-color transition-duration

            .vote-count
              color color-text-title-dark
              font-weight bold
              font-size 12px
              margin-top -4px

          @import "../components/user-image"
          .user-image
            margin-top 9px
            margin-right 10px

          @media phone
            > .left
              width 80%
              overflow hidden