@import "../global"
@import "../reset"

.left
  float left
.right
  float right

*
  font-family 'proxima-nova', 'Proxima Nova', sans-serif

html
  background-color color-page
  color color-text-default

.content
  max-width 960px
  margin 0 auto
  position relative

body
  > .content
    > .day
      padding-top 20px

      > .date-area
        display: inline-block
        padding-bottom 20px

        > .day-name, > .date
          display inline-block
        > .day-name
          font-size 24px
          margin-right 10px
          margin-left 10px
          text-transform uppercase
          color color-text-title
        > .date
          font-size 16px
          font-weight 400
          color color-text-light
      > .posts
        > .post
          overflow hidden
          padding 10px
          border-radius 3px
          margin-top 5px
          margin-bottom 5px

          &:hover
            background-color rgb(144, 38, 15)

          .description
            line-height 22px
            .title
              margin-top 2px
              color color-text-title
              font-size 20px
              font-weight 700

              &:hover
                text-decoration underline
            .tagline
              white-space nowrap
              color color-text-default
              font-size 18px
              font-weight 500

          .downvote
            float left
            width 34px
            height 48px
            border-radius 3px
            margin-right 10px
            padding-bottom 4px
            background-color color-button
            cursor pointer
            border-bottom 2px solid color-button-highlight

            &:hover .arrow
              border-top 12px solid color-brand                

            &.voted
              .arrow
                border-top 12px solid color-brand
              .vote-count
                color color-brand

            .arrow
              position relative
              top 5px
              display inline-block
              width 0px
              height 0px
              border-bottom 12px solid transparent
              border-left 8px solid transparent
              border-right 8px solid transparent
              border-top 12px solid color-text-title

            .vote-count
              color color-text-title-dark
              font-weight bold
              font-size 12px
              margin-top -4px

          .user-image
            margin-top 9px
            margin-right 10px
            border-radius 50%
            width 30px
            height 30px
            background-color blue
  > header
    margin-top 10px
    box-shadow 0px -1px 0px 0px rgba(83,69,64,0.56), 0px -1px 2px 0px rgba(0,0,0,0.1)

    > .content
      padding 20px 10px
      overflow hidden

    .brand
      .logo, .description
        float left
      .logo
        height 42px
        margin-right 10px
      .description
        line-height 22px
        .title
          color color-brand
          font-size 20px
          font-weight 700
        .tagline
          font-size 18px
          font-weight 500