@import "../global"
@import "../reset"
@import "../common"

body
  @import "../sections/header"
  > .content
    section.post
      text-align center
      padding 30px 15px
      line-height 25px

      &.logged-out
        .login-underlay
          -webkit-filter blur(3px)
          -moz-filter blur(3px)
          -ms-filter blur(3px)
          -o-filter blur(3px)
          filter blur(3px)
          pointer-events none

        .login-overlay
          display block

      .login-overlay
        z-index 100
        display none
        width 100%
        position absolute
        top 195px

        .title
          width 450px
          margin 0 auto
          font-size 26px
          padding 10px 5px
          border-radius 5px
          background-color rgba(black, 0.6)

          .link
            color color-brand
            &:hover
              text-decoration underline

      .title
        padding 20px
        font-size 30px
        line-height 1.2
        font-weight 900
        color color-text-title

        .dark
          color color-brand

      .inputs
        margin 40px 0
        input
          max-width 100%
          width 500px
          padding 15px
          margin 8px
          border-radius 5px
          font-size 20px
          background-color white
          color color-brand
          
          // Resets
          box-shadow none
          border none
          border-bottom 3px solid color-text-title-dark
          outline none

      .button
        display block
        margin 0 auto
        padding 10px 30px
        color color-white
        border-radius 3px
        background-color color-brand
        border-bottom 3px solid color-brand-dark
        cursor pointer