extends layout

block css
  link(type='text/css' rel='stylesheet' href='/css/pages/index.css')

block js
  script(src='/js/index.js')
  include includes/ga

block content
  include includes/components/header
  .content
    .day
      time.date-area
        h4.day-name Today
        h3.date October 5th
      ul.posts
        li.post
          .left
            button.downvote
              .arrow
              .vote-count -23
            .description
              a.website
                .title Title
              .tagline This is the tagline
          .right
            .user-image
              img(src='')