doctype html
html(lang='en')
  head
    title Product Grunt

    meta(charset="UTF-8")
    meta(name="keywords" content="Product Grunt is a curation of the worst new products, every day.")
    meta(name="description" content="Product Grunt is a curation of the worst new products, every day.")
    meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1")

    link(rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon")
    block css
  body
    block content
    block js