extends layout

block css
  link(type='text/css' rel='stylesheet' href='/css/pages/user.css')

block js
  include includes/ga

block content
  include includes/components/header
  .content
    .user-bio
      .user-image
        a(href='http://twitter.com/'+profile.twitterUsername)
          img.img(src=profile.twitterProfilePicture)
      h2.name= profile.name
      h3.bio= profile.bio
      h4.usernum User ##{profile.uid}