// Styles for all main pages
.left
  float left
.right
  float right

*
  font-family 'proxima-nova', 'Proxima Nova', sans-serif

html
  background-color color-page
  color color-text-default

.content
  max-width 960px
  margin 0 auto
  position relative