// Global variables

// Colors
color-blue = rgb(37, 170, 208)

color-black = #111
color-gray-dark = #333
color-gray = #666677
color-gray-light = #555566
color-white-gray = #bbbbcc
color-white = #ddddee

// Page colors
color-brand = color-blue
color-page = color-black
color-text-title = color-white
color-text-title-dark = color-white-gray
color-text-default = color-gray
color-text-light = color-gray-light
color-button = color-gray-dark
color-button-highlight = color-gray-light

// Animations
transition-duration = 200ms