& > header
  margin-bottom 10px
  box-shadow 0px 1px 0px 0px rgba(83,69,64,0.56), 0px 1px 2px 0px rgba(0,0,0,0.1)

  > .content
    padding 20px 10px
    overflow hidden

  .brand
    .logo, .description
      float left
    .logo
      height 42px
      margin-right 10px
    .description
      line-height 22px
      .title
        color color-brand
        font-size 20px
        font-weight 700
      .tagline
        transition color transition-duration
        font-size 18px
        font-weight 500
    &:hover .description .tagline
      color color-brand-light

  nav
    font-size 20px
    margin-top 10px
    line-height 20px
    li
      vertical-align middle
      display inline-block
      margin-left 20px
      @import "../components/user-image"

      transition color transition-duration
      &:hover
        color color-brand