header
  .content
    .left
      a.brand(href='/')
        .logo
          svg(viewBox='0 0 30 30' height='100%')
            circle(fill='rgb(37, 170, 208)', cx='15', cy='15', r='15')
            text(x='15', y='20', text-anchor='middle', fill='#111', style='font-family: \'proxima-nova\', \'Proxima Nova\', sans-serif;', font-weight='bold') G
        .description
          h1.title Product Grunt
          h2.tagline The worst old products, every day
    nav.right
      ul.nav-items
        li.nav-item.login
          a(href='/login') Log in
        li.nav-item.about
          a(href='/about') About
        li.nav-item.post
          a(href='/post') +
        li.nav-item.image
          .user-image
            img(src='')